/* style.css */
#banner{
  text-align: center;
  background-image: url(https://robert-parker-michelin-sg-prod.s3.amazonaws.com/media/image/2016/11/29/c17a1a231a534344b49e3b56f799191e_tokyo+banner.jpg); ;
  background-size: cover;
  padding: 150px;
}

#banner h1 {
  color: white;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 5px 5px black;
}

#banner p {
  color: white;
  opacity: 1,2;
  font-size: 50px;
  font-weight: normal;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 5px 5px black;
}

.btn-danger{
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.cta{
  background-color: #EEC8E0;
  padding: 10px;
}

.cta h2 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.cta p {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.card{
  text-align: center ;
  padding: 50px;
  font-weight: normal;
}

.card h2{
  font-size: 30px;
}

.card p{
  font-size: 20px;
}

#footer{
  padding: 20px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a{
color: #EEC8E0;
font-size: 30px;
text-align: center;
 }

 #footer a:hover{
 color: #EEC8E0;
 font-size: 50px;
 text-align: center;
 }